.load_nhpa_pmpro_members .container {
	width: inherit;
}

.single_member_profile {
  transition: all 0.2s linear;
	border-top: 0.1rem solid #313D49;
}

.nhpa_profile_avatar {
	width: 75% !important;
}

.single_member_profile .full_name {

  font-size: 1.5rem;

}


.single_member_profile:hover {
  border: 0.1rem solid #fff;
  box-shadow: 0.4rem 0.5rem 1rem #3d6d9e;
  margin-bottom: 1rem;
  padding: 0rem;
}

.user_bio {
  text-align: justify;
}

.user_phone {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.single_member_profile .col-xs-4 {
  border-left: 1px solid #313d49;
}

.view_profile button {
  /*background: #fff none repeat scroll 0 0 ;
  color: #313d49 ;*/
  margin: 1rem 0rem;
}

.single_member_profile_load {
  text-align: center;
}


.single_member_profile_load img{
  text-align: center;
  width: 50px;
  height: auto;
  margin:0 auto;
  display: block;
}

.navigate_dir .col-xs-2 {
  text-align: center;
}

.row.navigate_dir, .proBack {
  background: #313d49 none repeat scroll 0 0;
  color: #fff;
  padding: 1rem;
}

.row.navigate_dir, .proBack {
  clear: both;
}

.navigate_dir .nextList {
  float: right;
}

.preList {

  /*display: none;*/

}

.load_nhpa_pmpro_members .nextList a, .navigate_dir .preList a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.search_dir_nhpa .container, .container.showUserProfile {
	width: inherit;
}

.showUserProfile .container {
    width: inherit;
}

.search_dir_nhpa select {
	height: auto !important;
}

.section_title .navbar-text {
	color: #fff;
	font-size: 1.2rem;
	margin: 1rem;
}

.section_title {
    background: #313D49;
		margin: 1rem;
}

.section_data {
	margin: 0rem 1rem;
}

.row.section_data_row {
    padding: 0.4rem;
}

.showUserProfileSection {
    padding-top: 0rem !important;
		padding-bottom: 0.5rem !important;

}

#gmap_canvas {

	height: 200px;
	margin: 0.9rem;
}

.proBack {
    text-align: center;
}

.proBack a {
    color: #fff !important;
    font-size: 1.5rem;
}

.navigate_dir a {
  color: white !important;
  padding: 1rem;
  text-decoration: none !important;
}

.navigate_dir a.cpid {
  font-weight: bold;
  text-decoration: underline !important;
}

.container.searchParams {
  background: #3d6d9e none repeat scroll 0 0 !important;
  color: white;
}

#searchDirForm .col-sm-2.col-form-label {
    word-wrap: break-word;
}

.map_template .col-sm-4 {
	height: inherit;
	border-left: 5px solid #3D6D9E;
	padding-left: 0 !important;
	padding-right: 0 !important;
	overflow: scroll;
	overflow-x: hidden;
}

.map_template .col-sm-8 {
	height: inherit;

}

.map_template {
	/*border: 0.7rem solid #3D6D9E;*/
}

.map_template .container {
	padding: 0 !important;
}

.map_template .single_address {

	background: rgba(20,18,20,0.38);
	background: -moz-linear-gradient(top, rgba(20,18,20,0.38) 0%, rgba(43,43,43,0.38) 0%, rgba(0,0,0,0.38) 0%, rgba(44,44,44,0.38) 0%, rgba(89,89,89,0.45) 12%, rgba(102,102,102,0.54) 25%, rgba(71,71,71,0.62) 39%, rgba(71,71,71,0.75) 60%, rgba(59,55,59,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,18,20,0.38)), color-stop(0%, rgba(43,43,43,0.38)), color-stop(0%, rgba(0,0,0,0.38)), color-stop(0%, rgba(44,44,44,0.38)), color-stop(12%, rgba(89,89,89,0.45)), color-stop(25%, rgba(102,102,102,0.54)), color-stop(39%, rgba(71,71,71,0.62)), color-stop(60%, rgba(71,71,71,0.75)), color-stop(100%, rgba(59,55,59,1)));
	background: -webkit-linear-gradient(top, rgba(20,18,20,0.38) 0%, rgba(43,43,43,0.38) 0%, rgba(0,0,0,0.38) 0%, rgba(44,44,44,0.38) 0%, rgba(89,89,89,0.45) 12%, rgba(102,102,102,0.54) 25%, rgba(71,71,71,0.62) 39%, rgba(71,71,71,0.75) 60%, rgba(59,55,59,1) 100%);
	background: -o-linear-gradient(top, rgba(20,18,20,0.38) 0%, rgba(43,43,43,0.38) 0%, rgba(0,0,0,0.38) 0%, rgba(44,44,44,0.38) 0%, rgba(89,89,89,0.45) 12%, rgba(102,102,102,0.54) 25%, rgba(71,71,71,0.62) 39%, rgba(71,71,71,0.75) 60%, rgba(59,55,59,1) 100%);
	background: -ms-linear-gradient(top, rgba(20,18,20,0.38) 0%, rgba(43,43,43,0.38) 0%, rgba(0,0,0,0.38) 0%, rgba(44,44,44,0.38) 0%, rgba(89,89,89,0.45) 12%, rgba(102,102,102,0.54) 25%, rgba(71,71,71,0.62) 39%, rgba(71,71,71,0.75) 60%, rgba(59,55,59,1) 100%);
	background: linear-gradient(to bottom, rgba(20,18,20,0.38) 0%, rgba(43,43,43,0.38) 0%, rgba(0,0,0,0.38) 0%, rgba(44,44,44,0.38) 0%, rgba(89,89,89,0.45) 12%, rgba(102,102,102,0.54) 25%, rgba(71,71,71,0.62) 39%, rgba(71,71,71,0.75) 60%, rgba(59,55,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141214', endColorstr='#3b373b', GradientType=0 );

	color: #fff;
	padding: 1rem;
}

.map_template .single_address:hover, .single_addresshovered {

	background: rgba(59,57,59,1);
	background: -moz-linear-gradient(top, rgba(59,57,59,1) 0%, rgba(89,89,89,1) 20%, rgba(133,131,133,1) 53%, rgba(130,130,130,1) 53%, rgba(128,128,128,1) 53%, rgba(82,81,82,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,57,59,1)), color-stop(20%, rgba(89,89,89,1)), color-stop(53%, rgba(133,131,133,1)), color-stop(53%, rgba(130,130,130,1)), color-stop(53%, rgba(128,128,128,1)), color-stop(100%, rgba(82,81,82,1)));
	background: -webkit-linear-gradient(top, rgba(59,57,59,1) 0%, rgba(89,89,89,1) 20%, rgba(133,131,133,1) 53%, rgba(130,130,130,1) 53%, rgba(128,128,128,1) 53%, rgba(82,81,82,1) 100%);
	background: -o-linear-gradient(top, rgba(59,57,59,1) 0%, rgba(89,89,89,1) 20%, rgba(133,131,133,1) 53%, rgba(130,130,130,1) 53%, rgba(128,128,128,1) 53%, rgba(82,81,82,1) 100%);
	background: -ms-linear-gradient(top, rgba(59,57,59,1) 0%, rgba(89,89,89,1) 20%, rgba(133,131,133,1) 53%, rgba(130,130,130,1) 53%, rgba(128,128,128,1) 53%, rgba(82,81,82,1) 100%);
	background: linear-gradient(to bottom, rgba(59,57,59,1) 0%, rgba(89,89,89,1) 20%, rgba(133,131,133,1) 53%, rgba(130,130,130,1) 53%, rgba(128,128,128,1) 53%, rgba(82,81,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b393b', endColorstr='#525152', GradientType=0 );

}
